.container {
    position: relative;
    width: clamp(7.75rem, 3.917rem + 16.35vw, 17rem);/*124-272px*/
    height: clamp(6.25rem, 1.796rem + 19.01vw, 17rem);/*100-272px*/
    text-align: center;
}

.container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    z-index: 2;
    font-size: var(--smallhead);
    font-weight: Bold;
    text-align: center;
    line-height: 1.5;
}

.container h2 span {
    font-size: clamp(0.813rem, 0.631rem + 0.77vw, 1.25rem);/*13-20px*/
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: clamp(5.625rem, 3.916rem + 7.29vw, 9.75rem);/*90-156px*/
    aspect-ratio: 1/1;
}

@media (max-width: 768px) {

    .poverty h2 {
        color: var(--white);
    }

}