.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.625rem, 0.496rem + 0.55vw, 0.938rem);/*10-15px*/
}

.container a {
    display: grid;
    width: clamp(4rem, 3.068rem + 3.98vw, 6.25rem);
    padding: clamp(0.313rem, 0.183rem + 0.55vw, 0.625rem);
    height: 100px;
    place-items: center;
    background-color: var(--black);
    border-radius: clamp(0.938rem, 0.679rem + 1.1vw, 1.563rem);
    transition: background-color 0.5s;
}

.container a:hover {
    transition: background-color 1s;
}

.poverty a:hover {
    background: linear-gradient(to top, rgba(102,102,102,0.7), rgba(121,98,17,0.7));
}

.sea a:hover {
    background: linear-gradient(to top, rgba(34,96,89,0.7), rgba(102,48,36,0.7));
}

.land a:hover {
    background: linear-gradient(to top, rgba(161,216,220,0.7), rgba(59,113,220,0.7));
}

.fashion a:hover {
    background: linear-gradient(to top, rgba(199,32,32,0.7), rgba(168,14,162,0.7));
}

.forest a:hover {
    background: linear-gradient(to top, rgba(184,214,122,0.7), rgba(2,122,100,0.7));
}

.container h4 {
    font-size: clamp(0.938rem, 0.86rem + 0.33vw, 1.125rem);/*15-20px*/
}