:root {
  /* color */
  --white: #ffffff;
  --gray-bright: #EDF0F2;
  --gray-dark: #D5DCE1;
  --gray-black: #717577;
  --black: #18110D;
  --hover: #899299;

  /* Typography */
  --body: clamp(1rem, 0.954rem + 0.2vw, 1.125rem); /* 16-20px */
  --heading: clamp(1.25rem, 1.159rem + 0.39vw, 1.5rem); /* 20-24px */
  
  /* Border */
  --border-radius: 50px;
  --border: 1px solid var(--black);
}

/* 基本設定 */
body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  color: var(--black);
  font-size: var(--body);
  font-weight: 400;
  /*font-feature-settings: "palt";*/
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--hover);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

span > img {
  transition: 0.2s;
}